<div>
  <h3>Your {{(perspective$ | async)?.perspectiveName}}</h3>
  <h4 *ngIf="(perspective$ | async)?.items?.length === 0">Congratulations! You have no items in
    {{(perspective$ | async)?.perspectiveName}} </h4>

  <table style="width: 800px">
    <thead>
      <th>Name</th>
      <th>Due Date</th>
      <th>Project</th>
      <th>Completed</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of (perspective$ | async)?.items; let i = index">
        <td>{{ item.name }}</td>
        <td> {{ item.dueDate | dateOr:'No Due Date' }}</td>
        <td *ngIf="!enableEdit"
            (click)="enableProjectEdit(i)"> {{ item.project | stringOr:'No Project' }} </td>
        <td *ngIf="enableEdit && editRow === i">
          <div>
            <form [formGroup]="form">
              <mat-select formControlName="project">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let project of projects$ | async"
                            value="{{project.id}}">{{project.name}}</mat-option>
              </mat-select>
            </form>
          </div>
          <div>
            <button mat-button
                    (click)="editTodoProject(item)">Edit</button>
            <button mat-button
                    (click)="cancel()">Cancel</button>
          </div>
        </td>
        <td>
          <button mat-button
                  *ngIf="!item.completed"
                  (click)="markComplete(item)">
            <mat-icon>radio_button_unchecked</mat-icon>
          </button>
          <button mat-button
                  *ngIf="item.completed"
                  (click)="markIncomplete(item)">
            <mat-icon>radio_button_checked</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
